body{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size:16px;
	width:100%;
}

ul{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	
}

ul li{				
	margin: 15px 0;	
	width:80px;
	height:50px;
}

#contenedorListas{
	position: absolute;
	width:700px;
	left:100px;
	border:solid 1px #ccc;
}

#contenedorCurvas{
	display: inline-block;
	width:300px;
	height:600px;
	vertical-align:top;
}

#curves{
	position: absolute;
			
	vertical-align: middle;
	top:100px;
	left:120px;
	
	width:380px;
	height:100%;
	z-index:-1;
}

.inline{
	display: inline-block;	
}


.top,.bottom{
	height:15px;	
	width:40px;				
	border:solid 1px #ccc;
	margin-left:55px;
	background-color: #FFF;
}

.left,.right{
	width:15px;				
	height:40px;
	border:solid 1px #ccc;
	background-color: #FFF;
	margin: 5px 0;
}

.center{				
	background-color: #FFF;
	background: no-repeat;
	border:solid 1px #ccc;
	width: 100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	vertical-align: top;
	-moz-box-shadow: 0 0 5px 5px #ccc;
	-webkit-box-shadow: 0 0 5px 5px#ccc;
	box-shadow: 0 0 10px 1px #ddd;
	margin: 5px 5px;	
	cursor: pointer;
}

#btnValidator,#btnReset{
	
	border:solid 1px #ccc;
	width:100px;
	height:30px;

}

#btnValidator{
	background-color: rgba(255,228,13,.3);
	margin-left:305px;
}

#btnReset{
	background-color: rgba(255,228,13,.3);

}

#menu{
	margin-bottom: 5px;
	left:200px;
	background-color: #eeeeee;
	border:solid 1px #dddddd;
	
}


#status{
	margin-left:500px;
	width:200px;
}


#exercises{
	margin-top: 15px;
}

label {

	font-size:12px;
	margin-left: 10px;
	font-weight:bold;
}


#menu input[type=text]{
	width:20px;
	border:none;
	text-align:right;
	background-color: transparent;

}

#txtAciertos{
	color: #00cc00;
}

#txtErrores{
	color: #FF0000;
}